<!DOCTYPE HTML>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover" />
    <style type="text/css">
    body, div, p {
      font-size: 100%;
    }



  </style>
    <title>Hello, World!</title>

    {% block css %}{% end %}
    {% block js %}{% end %}
  </head>
<body>
<div id="wrap">
    <div id="container">
      <div class="inner">
        <div class="content">
          {% block content %}{% end %}
        </div>
      </div>
    </div>
</div>

</body>
</html>
